<!-- 页眉 -->
<div header class="gd-wrap-body">
    <div class="gd-body">
        <!-- 头像 -->
        <div class="gd-body-column md-author">
            <div class="md-author-column md-author-avatar">
                <img src="{{ site.avatar }}"/>
            </div>
            <div class="md-author-column md-author-info">
                <div>{{ site.author }}</div>
                <div>{{ site.description }}</div>
            </div>
        </div>
        <!-- 搜索 -->
        <div class="gd-body-column md-search">
            <input type="text" placeholder="请输入关键字"/>
            <button type="button">搜索</button>
        </div>
    </div>
</div>