<!-- 页眉 -->
<div header class="gd-wrap-body">
    <div header class="gd-body">
        <!-- 头像 -->
        <div header class="gd-body-column md-author">
            <div header class="md-author-column md-author-avatar">
                <img header src="{{ site.avatar }}"/>
            </div>
            <div header class="md-author-column md-author-info">
                <div header>{{ site.author }}</div>
                <div header>{{ site.description }}</div>
            </div>
        </div>
        <!-- 搜索 -->
        <div header class="gd-body-column md-search">
            <input header type="text" placeholder="请输入关键字"/>
            <button header type="button">搜索</button>
        </div>
    </div>
</div>