<!-- 页眉 -->
<div class="gd-wrap-header">
    <div class="gd-header fx fx-gc-sb fx-ai-c">
        <!-- 头像 -->
        <div class="gd-header-col fx fx-ai-c">
            <img src="{{ site.avatar }}"/>
            <div>
                <div>{{ site.author }}</div>
                <div>{{ site.description }}</div>
            </div>
        </div>
        <!-- 搜索 -->
        <div class="gd-header-col">
            <input type="text" placeholder="请输入关键字"/>
            <button type="button">搜索</button>
        </div>
    </div>
</div>