<div class="list-separator nav navbar-nav well well-primary {{ page.layout }}">
{% for i in site.data.urls %}
	{% assign current = nil %}
	{% assign pageurl = page.url | split:'/' | last %}
	{% assign menuurl = i.url | split:'/' | last %}
	{% assign linkurl = nil %}
	{% if i.url contains '://' %}
	{% assign linkurl = i.url %}
	{% else %}
	{% assign linkurl = i.url | prepend: site.baseurl %}
	{% endif %}
	{% assign target = i.target %}
    {% unless target %} {% assign target = '_self' %} {% endunless %}
	{% if pageurl == menuurl or page.layout == i.layout %} {% assign current = 'current-menu-item' %} {% endif %}
	<div class="col-lg-12 col-md-12 col-sm-4 col-xs-12 {{ current }} {{ pageurl }}"><a href="{{ linkurl }}" target="{{ target }}"><i class="fa {{ i.icon }}"></i> {{ i.text }}</a></div>
{% endfor %}
</div>




<!-- 先将页面中的 tags 属性收入数组，再删除数组中的空值 nil -->
{% assign posts = site.posts | map: 'tags' | compact %}
    <ul>
        {% for post in posts %}
            {{ post | join: ',' }}/
        {% endfor %}
    </ul>




