<div class="md-navigation">
    {% for i in site.data.urls %}
        {% assign pageurl = page.url | split:'/' | last %}
        {% assign menuurl = i.url | split:'/' | last %}
        {%- comment -%}
            注：导航栏选中状态判等这里使用了 page.layout == i.layout 是为了设置文章详情页时首页菜单按钮也进行高亮选中。
                1. 首页文章详情页的 layout 使用 post 布局。
                2. _data/urls.json 的菜单导航的首页也添加了一个配置项 layout: 'post'
        {%- endcomment -%}
        {% if pageurl == menuurl or page.layout == i.layout %}
            {% assign selected = 'selected' %}
        {% else %}
            {% assign selected = '' %}
        {% endif %}
        <div class="md-navigation-item {{ selected }}">
            <a href="{{ i.url }}"><i class="{{ i.icon }}"></i><span>{{ i.text }}</span></a>
        </div>
    {% endfor %}
</div>

