---
---
@import 'color';

// body
body {
    background-color: $gary-white;
}

// 页眉
[header] {
    &.gd-wrap-body {
        background-color: $primary;
    }

    .gd-body {
        display: flex;justify-content: space-between;align-items: center;
        margin: 0 auto;
        padding: 20px 0;
        width: 1400px;
    }

    // 左侧头像和个人信息
    .md-author {
        display: flex;align-items: center;

        > :nth-child(n + 2) {
            margin: 0 0 0 10px;
        }

        &-avatar {
            img {
                width: 60px;height: 60px;
                border-radius: 50%;
            }
        }

        &-info {
            display: flex;flex-direction: column;
            color: $gary-white;

            > :nth-child(1) {
                font-size: 20px;
                padding: 0 0 6px 0;
            }
        }
    }

    // 右侧搜索
    .md-search {
        display: flex;
        color: $gary-white;

        input {
            box-sizing: border-box;
            border: 2px solid $subordinate-light-regular;border-radius: 4px 0 0 4px;
            padding: 0 20px;
            width: 300px;height: 30px;
            line-height: 30px;color: $gary-white;
            background-color: transparent;
        }

        button {
            height: 30px;
            border-radius: 0 4px 4px 0;
            padding: 0 10px;
            line-height: 1;color: $subordinate;font-weight: bold;
            background-color: $subordinate-light-regular;
            cursor: pointer;
        }
    }
}

// 主体
[main] {
    .gd-body{

    }
}

// 页脚
[footer] {
    .gd-body {

    }    
}