// 网站配色定义
// 主色
$primary-dark: rgb(0, 98, 150);
$primary-dark-regular: rgb(42, 130, 176);
$primary: rgb(0, 167, 197);
$primary-light: rgb(135, 197, 237);
$primary-light-regular: rgb(227, 244, 255);

// 辅助色
$subordinate-dark: rgb(205, 41, 90);
$subordinate-dark-regular: rgb(215, 65, 119);
$subordinate: rgb(255, 140, 140);
$subordinate-light: rgb(255, 187, 187);
$subordinate-light-regular: rgb(255, 239, 239);

// 状态色
$status-success: #67c23a;
$status-fail: #f56c6c;
$status-warn: #e6a23c;

// 中性色

$gary-dark-primary: #262627;
$gary-dark-regular: #1b1b1b;
$gary-primary: #303133;
$gary-light-primary: #888888;
$gary-light-regular: #dbdbdb;
$gary-black: #000000;
$gary-white: #ffffff;

// 通用色
// 占位符
$placeholder: fade-out($gary-white, .5);