---
layout: default
---
<!-- 文章详情 -->
<div>
    <div class="markdown-body">{{ content }}</div>
    <div class="division"></div>
    <div class="gd-nearbyBlog">
        <div class="gd-nearbyBlog-col">
            <i class="el-icon-arrow-left"></i>
            <b>上一个</b>
            {% if page.previous.url %}
            <a href="{{ site.url }}{{ page.previous.url }}">{{ page.previous.title }}</a>
            {% else %}
            <span>没有了</span>
            {% endif %}
        </div>
        <div class="gd-nearbyBlog-col">
            <i class="el-icon-arrow-right"></i>
            <b>下一个</b>
            {% if page.next.url %}
            <a href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }}</a>
            {% else %}
            <span>没有了</span>
            {% endif %}
        </div>
    </div>
</div>
